<!-- https://mdx-web-components.migros.net/ -->
<h2>Button</h2>
<div>
  <mdx-component
    click-event-name="mdx-component-click-event"
    mutation-callback-event-name="mdx-component-mutation-callback"
  >
    <mdx-alert-button>
      <span>Label</span>
    </mdx-alert-button>
  </mdx-component>
</div>
<hr>
<h2>Checkbox</h2>
<div>
  <mdx-component>
    <mdx-checkbox label="Label" error="Error" togglecheckbox="function () {}">
      <span slot="description">Checkbox Description</span>
    </mdx-checkbox>
  </mdx-component>
</div>