:root {
    /* ordered according to src/css/base.css */

    /* border */
    --border-width: var(--mdx-sys-border-width-md);
    --border-radius: var(--mdx-sys-border-radius-none);
    --search-input-border-radius: var(--mdx-comp-button-primary-medium-border-radius-default);
    --search-input-border-radius-mobile: var(--mdx-comp-button-primary-small-border-radius-default);
    
    /* color */

    /* existing toolbox colors */
    --background-color: var(--mdx-sys-color-neutral-on-default);
    --color-active: var(--color-hover);
    --color-disabled: var(--mdx-sys-color-error-subtle3);
    --color-error: var(--mdx-sys-color-error-default);
    --color-hover: var(--mdx-sys-color-primary-bold1);
    --color-secondary: var(--mdx-sys-color-primary-default);
    --color: var(--mdx-sys-color-neutral-default);

    /* mapping of all MDX sys colors */
    --color-primary-default: var(--mdx-sys-color-primary-default);
    --color-primary-on-default: var(--mdx-sys-color-primary-on-default);
    --color-primary-subtle1: var(--mdx-sys-color-primary-subtle1);
    --color-primary-subtle2: var(--mdx-sys-color-primary-subtle2);
    --color-primary-subtle3: var(--mdx-sys-color-primary-subtle3);
    --color-primary-on-subtle: var(--mdx-sys-color-primary-on-subtle);
    --color-primary-bold1: var(--mdx-sys-color-primary-bold1);
    --color-primary-bold2: var(--mdx-sys-color-primary-bold2);
    --color-primary-bold3: var(--mdx-sys-color-primary-bold3);
    --color-primary-on-bold: var(--mdx-sys-color-primary-on-bold);

    --color-neutral-default: var(--mdx-sys-color-neutral-default);
    --color-neutral-on-default: var(--mdx-sys-color-neutral-on-default);
    --color-neutral-subtle0: var(--mdx-sys-color-neutral-subtle0);
    --color-neutral-subtle1: var(--mdx-sys-color-neutral-subtle1);
    --color-neutral-subtle2: var(--mdx-sys-color-neutral-subtle2);
    --color-neutral-subtle3: var(--mdx-sys-color-neutral-subtle3);
    --color-neutral-subtle4: var(--mdx-sys-color-neutral-subtle4);
    --color-neutral-on-subtle: var(--mdx-sys-color-neutral-on-subtle);
    --color-neutral-bold1: var(--mdx-sys-color-neutral-bold1);
    --color-neutral-bold2: var(--mdx-sys-color-neutral-bold2);
    --color-neutral-bold3: var(--mdx-sys-color-neutral-bold3);
    --color-neutral-bold4: var(--mdx-sys-color-neutral-bold4);
    --color-neutral-bold5: var(--mdx-sys-color-neutral-bold5);
    --color-neutral-on-bold: var(--mdx-sys-color-neutral-on-bold);

    --color-success-default: var(--mdx-sys-color-success-default);
    --color-success-on-default: var(--mdx-sys-color-success-on-default);
    --color-success-subtle1: var(--mdx-sys-color-success-subtle1);
    --color-success-subtle2: var(--mdx-sys-color-success-subtle2);
    --color-success-subtle3: var(--mdx-sys-color-success-subtle3);
    --color-success-on-subtle: var(--mdx-sys-color-success-on-subtle);
    --color-success-bold1: var(--mdx-sys-color-success-bold1);
    --color-success-on-bold: var(--mdx-sys-color-success-on-bold);

    --color-accent-1-default: var(--mdx-sys-color-accent-1-default);
    --color-accent-1-on-default: var(--mdx-sys-color-accent-1-on-default);
    --color-accent-1-subtle1: var(--mdx-sys-color-accent-1-subtle1);
    --color-accent-1-subtle2: var(--mdx-sys-color-accent-1-subtle2);
    --color-accent-1-subtle3: var(--mdx-sys-color-accent-1-subtle3);
    --color-accent-1-on-subtle: var(--mdx-sys-color-accent-1-on-subtle);
    --color-accent-1-bold1: var(--mdx-sys-color-accent-1-bold1);
    --color-accent-1-on-bold: var(--mdx-sys-color-accent-1-on-bold);

    --color-accent-2-default: var(--mdx-sys-color-accent-2-default);
    --color-accent-2-on-default: var(--mdx-sys-color-accent-2-on-default);
    --color-accent-2-subtle1: var(--mdx-sys-color-accent-2-subtle1);
    --color-accent-2-subtle2: var(--mdx-sys-color-accent-2-subtle2);
    --color-accent-2-subtle3: var(--mdx-sys-color-accent-2-subtle3);
    --color-accent-2-on-subtle: var(--mdx-sys-color-accent-2-on-subtle);
    --color-accent-2-bold1: var(--mdx-sys-color-accent-2-bold1);
    --color-accent-2-on-bold: var(--mdx-sys-color-accent-2-on-bold);

    --color-accent-3-default: var(--mdx-sys-color-accent-3-default);
    --color-accent-3-on-default: var(--mdx-sys-color-accent-3-on-default);
    --color-accent-3-subtle1: var(--mdx-sys-color-accent-3-subtle1);
    --color-accent-3-subtle2: var(--mdx-sys-color-accent-3-subtle2);
    --color-accent-3-subtle3: var(--mdx-sys-color-accent-3-subtle3);
    --color-accent-3-on-subtle: var(--mdx-sys-color-accent-3-on-subtle);
    --color-accent-3-bold1: var(--mdx-sys-color-accent-3-bold1);
    --color-accent-3-on-bold: var(--mdx-sys-color-accent-3-on-bold);

    --color-accent-4-default: var(--mdx-sys-color-accent-4-default);
    --color-accent-4-on-default: var(--mdx-sys-color-accent-4-on-default);
    --color-accent-4-subtle1: var(--mdx-sys-color-accent-4-subtle1);
    --color-accent-4-subtle2: var(--mdx-sys-color-accent-4-subtle2);
    --color-accent-4-subtle3: var(--mdx-sys-color-accent-4-subtle3);
    --color-accent-4-on-subtle: var(--mdx-sys-color-accent-4-on-subtle);
    --color-accent-4-bold1: var(--mdx-sys-color-accent-4-bold1);
    --color-accent-4-on-bold: var(--mdx-sys-color-accent-4-on-bold);

    --color-accent-5-default: var(--mdx-sys-color-accent-5-default);
    --color-accent-5-on-default: var(--mdx-sys-color-accent-5-on-default);
    --color-accent-5-subtle1: var(--mdx-sys-color-accent-5-subtle1);
    --color-accent-5-subtle2: var(--mdx-sys-color-accent-5-subtle2);
    --color-accent-5-subtle3: var(--mdx-sys-color-accent-5-subtle3);
    --color-accent-5-on-subtle: var(--mdx-sys-color-accent-5-on-subtle);
    --color-accent-5-bold1: var(--mdx-sys-color-accent-5-bold1);
    --color-accent-5-on-bold: var(--mdx-sys-color-accent-5-on-bold);

    --color-accent-6-default: var(--mdx-sys-color-accent-6-default);
    --color-accent-6-on-default: var(--mdx-sys-color-accent-6-on-default);
    --color-accent-6-subtle1: var(--mdx-sys-color-accent-6-subtle1);
    --color-accent-6-subtle2: var(--mdx-sys-color-accent-6-subtle2);
    --color-accent-6-subtle3: var(--mdx-sys-color-accent-6-subtle3);
    --color-accent-6-on-subtle: var(--mdx-sys-color-accent-6-on-subtle);
    --color-accent-6-bold1: var(--mdx-sys-color-accent-6-bold1);
    --color-accent-6-on-bold: var(--mdx-sys-color-accent-6-on-bold);

    --color-error-default: var(--mdx-sys-color-error-default);
    --color-error-on-default: var(--mdx-sys-color-error-on-default);
    --color-error-subtle1: var(--mdx-sys-color-error-subtle1);
    --color-error-subtle2: var(--mdx-sys-color-error-subtle2);
    --color-error-subtle3: var(--mdx-sys-color-error-subtle3);
    --color-error-on-subtle: var(--mdx-sys-color-error-on-subtle);
    --color-error-bold1: var(--mdx-sys-color-error-bold1);
    --color-error-on-bold: var(--mdx-sys-color-error-on-bold);

    --color-warning-default: var(--mdx-sys-color-warning-default);
    --color-warning-on-default: var(--mdx-sys-color-warning-on-default);
    --color-warning-subtle1: var(--mdx-sys-color-warning-subtle1);
    --color-warning-subtle2: var(--mdx-sys-color-warning-subtle2);
    --color-warning-subtle3: var(--mdx-sys-color-warning-subtle3);
    --color-warning-on-subtle: var(--mdx-sys-color-warning-on-subtle);
    --color-warning-bold1: var(--mdx-sys-color-warning-bold1);
    --color-warning-on-bold: var(--mdx-sys-color-warning-on-bold);

    --color-cumulus-default: var(--mdx-sys-color-cumulus-default);
    --color-cumulus-on-default: var(--mdx-sys-color-cumulus-on-default);
    --color-cumulus-subtle1: var(--mdx-sys-color-cumulus-subtle1);
    --color-cumulus-subtle2: var(--mdx-sys-color-cumulus-subtle2);
    --color-cumulus-on-subtle: var(--mdx-sys-color-cumulus-on-subtle);

    --color-fully-transparent: var(--mdx-sys-color-fully-transparent);


    /* font */

    /* base font configuration */
    --font-weight-strong: var(--mdx-sys-font-fix-body1-font-weight-bold, var(--mdx-base-font-weight-bold));
    --font-weight: var(--mdx-sys-font-fix-body1-font-weight);
    --font-family: var(--mdx-sys-font-fix-body1-font-family);
    --line-height: var(--mdx-sys-font-fix-body1-line-height);
    --font-size-mobile: min(var(--mdx-sys-font-fix-body2-font-size), 5vw);
    --font-size: max(var(--mdx-sys-font-fix-body1-font-size), 0.8vw);
    
    /* headlines */
    /* responsiveness is handled via mdx */
    --h1-font-family: var(--mdx-sys-font-flex-headline1-font-family);
    --h1-font-weight: var(--mdx-sys-font-flex-headline1-font-weight);
    --h1-line-height: var(--mdx-sys-font-flex-headline1-line-height);
    --h1-font-size: var(--mdx-sys-font-flex-headline1-font-size);
    --h1-letter-spacing: var(--mdx-sys-font-flex-headline1-letter-spacing);
    --h1-padding: var(--mdx-sys-font-flex-headline1-paragraph-spacing);
    --h1-text-transform: var(--mdx-sys-font-flex-headline1-text-case);
    --h1-text-decoration: var(--mdx-sys-font-flex-headline1-text-decoration);
    --h2-font-family: var(--mdx-sys-font-flex-headline2-font-family);
    --h2-font-weight: var(--mdx-sys-font-flex-headline2-font-weight);
    --h2-line-height: var(--mdx-sys-font-flex-headline2-line-height);
    --h2-font-size: var(--mdx-sys-font-flex-headline2-font-size);
    --h2-letter-spacing: var(--mdx-sys-font-flex-headline2-letter-spacing);
    --h2-padding: var(--mdx-sys-font-flex-headline2-paragraph-spacing);
    --h2-text-transform: var(--mdx-sys-font-flex-headline2-text-case);
    --h2-text-decoration: var(--mdx-sys-font-flex-headline2-text-decoration);
    --h3-font-family: var(--mdx-sys-font-flex-headline3-font-family);
    --h3-font-weight: var(--mdx-sys-font-flex-headline3-font-weight);
    --h3-line-height: var(--mdx-sys-font-flex-headline3-line-height);
    --h3-font-size: var(--mdx-sys-font-flex-headline3-font-size);
    --h3-letter-spacing: var(--mdx-sys-font-flex-headline3-letter-spacing);
    --h3-padding: var(--mdx-sys-font-flex-headline3-paragraph-spacing);
    --h3-text-transform: var(--mdx-sys-font-flex-headline3-text-case);
    --h3-text-decoration: var(--mdx-sys-font-flex-headline3-text-decoration);

    /* display headlines */
    /* responsiveness is handled via mdx */
    --font-flex-display1-font-family: var(--mdx-sys-font-flex-display1-font-family);
    --font-flex-display1-font-weight: var(--mdx-sys-font-flex-display1-font-weight);
    --font-flex-display1-line-height: var(--mdx-sys-font-flex-display1-line-height);
    --font-flex-display1-font-size: var(--mdx-sys-font-flex-display1-font-size);
    --font-flex-display1-letter-spacing: var(--mdx-sys-font-flex-display1-letter-spacing);
    --font-flex-display1-paragraph-spacing: var(--mdx-sys-font-flex-display1-paragraph-spacing);
    --font-flex-display1-text-case: var(--mdx-sys-font-flex-display1-text-case);
    --font-flex-display1-text-decoration: var(--mdx-sys-font-flex-display1-text-decoration);
    --font-flex-display1: var(--mdx-sys-font-flex-display1);
    --font-flex-display2-font-family: var(--mdx-sys-font-flex-display2-font-family);
    --font-flex-display2-font-weight: var(--mdx-sys-font-flex-display2-font-weight);
    --font-flex-display2-line-height: var(--mdx-sys-font-flex-display2-line-height);
    --font-flex-display2-font-size: var(--mdx-sys-font-flex-display2-font-size);
    --font-flex-display2-letter-spacing: var(--mdx-sys-font-flex-display2-letter-spacing);
    --font-flex-display2-paragraph-spacing: var(--mdx-sys-font-flex-display2-paragraph-spacing);
    --font-flex-display2-text-case: var(--mdx-sys-font-flex-display2-text-case);
    --font-flex-display2-text-decoration: var(--mdx-sys-font-flex-display2-text-decoration);
    --font-flex-display2: var(--mdx-sys-font-flex-display2);
    --font-flex-display3-font-family: var(--mdx-sys-font-flex-display3-font-family);
    --font-flex-display3-font-weight: var(--mdx-sys-font-flex-display3-font-weight);
    --font-flex-display3-line-height: var(--mdx-sys-font-flex-display3-line-height);
    --font-flex-display3-font-size: var(--mdx-sys-font-flex-display3-font-size);
    --font-flex-display3-letter-spacing: var(--mdx-sys-font-flex-display3-letter-spacing);
    --font-flex-display3-paragraph-spacing: var(--mdx-sys-font-flex-display3-paragraph-spacing);
    --font-flex-display3-text-case: var(--mdx-sys-font-flex-display3-text-case);
    --font-flex-display3-text-decoration: var(--mdx-sys-font-flex-display3-text-decoration);
    --font-flex-display3: var(--mdx-sys-font-flex-display3);

    /* body text */
    /* responsiveness is handled via mdx */
    --font-flex-body1-font-family:var(--mdx-sys-font-flex-body1-font-family);
    --font-flex-body1-font-weight:var(--mdx-sys-font-flex-body1-font-weight);
    --font-flex-body1-line-height:var(--mdx-sys-font-flex-body1-line-height);
    --font-flex-body1-font-size:var(--mdx-sys-font-flex-body1-font-size);
    --font-flex-body1-letter-spacing:var(--mdx-sys-font-flex-body1-letter-spacing);
    --font-flex-body1-paragraph-spacing:var(--mdx-sys-font-flex-body1-paragraph-spacing);
    --font-flex-body1-text-case:var(--mdx-sys-font-flex-body1-text-case);
    --font-flex-body1-text-decoration:var(--mdx-sys-font-flex-body1-text-decoration);
    --font-flex-body1:var(--mdx-sys-font-flex-body1);
    --font-flex-body2-font-family:var(--mdx-sys-font-flex-body2-font-family);
    --font-flex-body2-font-weight:var(--mdx-sys-font-flex-body2-font-weight);
    --font-flex-body2-line-height:var(--mdx-sys-font-flex-body2-line-height);
    --font-flex-body2-font-size:var(--mdx-sys-font-flex-body2-font-size);
    --font-flex-body2-letter-spacing:var(--mdx-sys-font-flex-body2-letter-spacing);
    --font-flex-body2-paragraph-spacing:var(--mdx-sys-font-flex-body2-paragraph-spacing);
    --font-flex-body2-text-case:var(--mdx-sys-font-flex-body2-text-case);
    --font-flex-body2-text-decoration:var(--mdx-sys-font-flex-body2-text-decoration);
    --font-flex-body2:var(--mdx-sys-font-flex-body2);
    --font-flex-body3-font-family:var(--mdx-sys-font-flex-body3-font-family);
    --font-flex-body3-font-weight:var(--mdx-sys-font-flex-body3-font-weight);
    --font-flex-body3-line-height:var(--mdx-sys-font-flex-body3-line-height);
    --font-flex-body3-font-size:var(--mdx-sys-font-flex-body3-font-size);
    --font-flex-body3-letter-spacing:var(--mdx-sys-font-flex-body3-letter-spacing);
    --font-flex-body3-paragraph-spacing:var(--mdx-sys-font-flex-body3-paragraph-spacing);
    --font-flex-body3-text-case:var(--mdx-sys-font-flex-body3-text-case);
    --font-flex-body3-text-decoration:var(--mdx-sys-font-flex-body3-text-decoration);
    --font-flex-body3:var(--mdx-sys-font-flex-body3);

    /* fix titles */
    /* fix font styles are NOT responsive */
    --font-fix-title1-font-family: var(--mdx-sys-font-fix-title1-font-family);
    --font-fix-title1-font-weight: var(--mdx-sys-font-fix-title1-font-weight);
    --font-fix-title1-line-height: var(--mdx-sys-font-fix-title1-line-height);
    --font-fix-title1-font-size: var(--mdx-sys-font-fix-title1-font-size);
    --font-fix-title1-letter-spacing: var(--mdx-sys-font-fix-title1-letter-spacing);
    --font-fix-title1-paragraph-spacing: var(--mdx-sys-font-fix-title1-paragraph-spacing);
    --font-fix-title1-text-case: var(--mdx-sys-font-fix-title1-text-case);
    --font-fix-title1-text-decoration: var(--mdx-sys-font-fix-title1-text-decoration);
    --font-fix-title1: var(--mdx-sys-font-fix-title1);
    --font-fix-title2-font-family: var(--mdx-sys-font-fix-title2-font-family);
    --font-fix-title2-font-weight: var(--mdx-sys-font-fix-title2-font-weight);
    --font-fix-title2-line-height: var(--mdx-sys-font-fix-title2-line-height);
    --font-fix-title2-font-size: var(--mdx-sys-font-fix-title2-font-size);
    --font-fix-title2-letter-spacing: var(--mdx-sys-font-fix-title2-letter-spacing);
    --font-fix-title2-paragraph-spacing: var(--mdx-sys-font-fix-title2-paragraph-spacing);
    --font-fix-title2-text-case: var(--mdx-sys-font-fix-title2-text-case);
    --font-fix-title2-text-decoration: var(--mdx-sys-font-fix-title2-text-decoration);
    --font-fix-title2: var(--mdx-sys-font-fix-title2);
    --font-fix-title3-font-family: var(--mdx-sys-font-fix-title3-font-family);
    --font-fix-title3-font-weight: var(--mdx-sys-font-fix-title3-font-weight);
    --font-fix-title3-line-height: var(--mdx-sys-font-fix-title3-line-height);
    --font-fix-title3-font-size: var(--mdx-sys-font-fix-title3-font-size);
    --font-fix-title3-letter-spacing: var(--mdx-sys-font-fix-title3-letter-spacing);
    --font-fix-title3-paragraph-spacing: var(--mdx-sys-font-fix-title3-paragraph-spacing);
    --font-fix-title3-text-case: var(--mdx-sys-font-fix-title3-text-case);
    --font-fix-title3-text-decoration: var(--mdx-sys-font-fix-title3-text-decoration);
    --font-fix-title4: var(--mdx-sys-font-fix-title4);
    --font-fix-title4-font-family: var(--mdx-sys-font-fix-title4-font-family);
    --font-fix-title4-font-weight: var(--mdx-sys-font-fix-title4-font-weight);
    --font-fix-title4-line-height: var(--mdx-sys-font-fix-title4-line-height);
    --font-fix-title4-font-size: var(--mdx-sys-font-fix-title4-font-size);
    --font-fix-title4-letter-spacing: var(--mdx-sys-font-fix-title4-letter-spacing);
    --font-fix-title4-paragraph-spacing: var(--mdx-sys-font-fix-title4-paragraph-spacing);
    --font-fix-title4-text-case: var(--mdx-sys-font-fix-title4-text-case);
    --font-fix-title4-text-decoration: var(--mdx-sys-font-fix-title4-text-decoration);
    --font-fix-title4: var(--mdx-sys-font-fix-title4);

    /* fix labels */
    /* fix font styles are NOT responsive */
    --font-fix-label1-font-family: var(--mdx-sys-font-fix-label1-font-family);
    --font-fix-label1-font-weight: var(--mdx-sys-font-fix-label1-font-weight);
    --font-fix-label1-line-height: var(--mdx-sys-font-fix-label1-line-height);
    --font-fix-label1-font-size: var(--mdx-sys-font-fix-label1-font-size);
    --font-fix-label1-letter-spacing: var(--mdx-sys-font-fix-label1-letter-spacing);
    --font-fix-label1-paragraph-spacing: var(--mdx-sys-font-fix-label1-paragraph-spacing);
    --font-fix-label1-text-case: var(--mdx-sys-font-fix-label1-text-case);
    --font-fix-label1-text-decoration: var(--mdx-sys-font-fix-label1-text-decoration);
    --font-fix-label1: var(--mdx-sys-font-fix-label1);
    --font-fix-label2-font-family: var(--mdx-sys-font-fix-label2-font-family);
    --font-fix-label2-font-weight: var(--mdx-sys-font-fix-label2-font-weight);
    --font-fix-label2-line-height: var(--mdx-sys-font-fix-label2-line-height);
    --font-fix-label2-font-size: var(--mdx-sys-font-fix-label2-font-size);
    --font-fix-label2-letter-spacing: var(--mdx-sys-font-fix-label2-letter-spacing);
    --font-fix-label2-paragraph-spacing: var(--mdx-sys-font-fix-label2-paragraph-spacing);
    --font-fix-label2-text-case: var(--mdx-sys-font-fix-label2-text-case);
    --font-fix-label2-text-decoration: var(--mdx-sys-font-fix-label2-text-decoration);
    --font-fix-label2: var(--mdx-sys-font-fix-label2);
    --font-fix-label3-font-family: var(--mdx-sys-font-fix-label3-font-family);
    --font-fix-label3-font-weight: var(--mdx-sys-font-fix-label3-font-weight);
    --font-fix-label3-line-height: var(--mdx-sys-font-fix-label3-line-height);
    --font-fix-label3-font-size: var(--mdx-sys-font-fix-label3-font-size);
    --font-fix-label3-letter-spacing: var(--mdx-sys-font-fix-label3-letter-spacing);
    --font-fix-label3-paragraph-spacing: var(--mdx-sys-font-fix-label3-paragraph-spacing);
    --font-fix-label3-text-case: var(--mdx-sys-font-fix-label3-text-case);
    --font-fix-label3-text-decoration: var(--mdx-sys-font-fix-label3-text-decoration);
    --font-fix-label3: var(--mdx-sys-font-fix-label3);
    --font-fix-label4-font-family: var(--mdx-sys-font-fix-label4-font-family);
    --font-fix-label4-font-weight: var(--mdx-sys-font-fix-label4-font-weight);
    --font-fix-label4-line-height: var(--mdx-sys-font-fix-label4-line-height);
    --font-fix-label4-font-size: var(--mdx-sys-font-fix-label4-font-size);
    --font-fix-label4-letter-spacing: var(--mdx-sys-font-fix-label4-letter-spacing);
    --font-fix-label4-paragraph-spacing: var(--mdx-sys-font-fix-label4-paragraph-spacing);
    --font-fix-label4-text-case: var(--mdx-sys-font-fix-label4-text-case);
    --font-fix-label4-text-decoration: var(--mdx-sys-font-fix-label4-text-decoration);
    --font-fix-label4: var(--mdx-sys-font-fix-label4);

    /* opacity used of base.css */
    /* motion */
    --transition: all var(--mdx-sys-motion-time-medium) var(--mdx-sys-motion-easing-ease-in-out);
    /* shadows */
    --box-shadow: var(--mdx-sys-shadow-default);

    /* spacing */   

    /* spacing used of base.css */
    
}