:root {
    /* ordered according to src/css/base.css */
    /* border */
    --border-width: var(--mdx-sys-border-width-md);
    --border-radius: var(--mdx-sys-border-radius-md);
    /* color */
    --background-color: var(--mdx-sys-color-neutral-on-default);
    --color-active: var(--color-hover);
    --color-disabled: var(--mdx-sys-color-error-subtle3);
    --color-error: var(--mdx-sys-color-error-default);
    --color-hover: var(--mdx-sys-color-primary-bold3);
    --color-secondary: var(--mdx-sys-color-primary-default);
    --color: var(--mdx-sys-color-neutral-default);
    /* font */
    --font-weight-strong: var(--mdx-sys-font-fix-body1-font-weight-bold, var(--mdx-base-font-weight-bold));
    --font-weight: var(--mdx-sys-font-fix-body1-font-weight);
    --font-family: var(--mdx-sys-font-fix-body1-font-family);
    --line-height: var(--mdx-sys-font-fix-body1-line-height);
    --font-size-mobile: min(var(--mdx-sys-font-fix-body2-font-size), 5vw);
    --font-size: max(var(--mdx-sys-font-fix-body1-font-size), 0.8vw);
    /* opacity used of base.css */
    /* motion */
    --transition: all var(--mdx-sys-motion-time-medium) var(--mdx-sys-motion-easing-ease-in-out);
    /* shadows */
    --box-shadow: var(--mdx-sys-shadow-default);
    /* spacing used of base.css */
    /* headlines */
    --h1-font-family: var(--mdx-sys-font-flex-mobile-headline1-font-family);
    --h1-font-weight: var(--mdx-sys-font-flex-mobile-headline1-font-weight);
    --h1-line-height: var(--mdx-sys-font-flex-mobile-headline1-line-height);
    --h1-font-size: var(--mdx-sys-font-flex-mobile-headline1-font-size);
    --h1-letter-spacing: var(--mdx-sys-font-flex-mobile-headline1-letter-spacing);
    --h1-padding: var(--mdx-sys-font-flex-mobile-headline1-paragraph-spacing);
    --h1-text-transform: var(--mdx-sys-font-flex-mobile-headline1-text-case);
    --h1-text-decoration: var(--mdx-sys-font-flex-mobile-headline1-text-decoration);
    --h2-font-family: var(--mdx-sys-font-flex-mobile-headline2-font-family);
    --h2-font-weight: var(--mdx-sys-font-flex-mobile-headline2-font-weight);
    --h2-line-height: var(--mdx-sys-font-flex-mobile-headline2-line-height);
    --h2-font-size: var(--mdx-sys-font-flex-mobile-headline2-font-size);
    --h2-letter-spacing: var(--mdx-sys-font-flex-mobile-headline2-letter-spacing);
    --h2-padding: var(--mdx-sys-font-flex-mobile-headline2-paragraph-spacing);
    --h2-text-transform: var(--mdx-sys-font-flex-mobile-headline2-text-case);
    --h2-text-decoration: var(--mdx-sys-font-flex-mobile-headline2-text-decoration);
    --h3-font-family: var(--mdx-sys-font-flex-mobile-headline3-font-family);
    --h3-font-weight: var(--mdx-sys-font-flex-mobile-headline3-font-weight);
    --h3-line-height: var(--mdx-sys-font-flex-mobile-headline3-line-height);
    --h3-font-size: var(--mdx-sys-font-flex-mobile-headline3-font-size);
    --h3-letter-spacing: var(--mdx-sys-font-flex-mobile-headline3-letter-spacing);
    --h3-padding: var(--mdx-sys-font-flex-mobile-headline3-paragraph-spacing);
    --h3-text-transform: var(--mdx-sys-font-flex-mobile-headline3-text-case);
    --h3-text-decoration: var(--mdx-sys-font-flex-mobile-headline3-text-decoration);
}